extends layout

block content
  h1 Welcome to Live Chat
  p Hệ thống live chat and live stream.
  hr
  .row
    .col-sm-5
      H4
        a(href='/livestream') Live Stream
    .col-sm-5
      H4
        a(href='/livechat') Live Chat
