extends ../layout

block content
  h1 Welcome to Live Chat
  p Hệ thống live chat and live chat.
  hr
  .row
    .col-lg-12
      p Tao phòng live chat
    form(action='/livechat/create',method='post')
      .col-lg-8
        .input-group
          span#basic-addon1.input-group-addon @
          input.form-control(type='text',name='roomName',placeholder='Tên phòng', aria-describedby='basic-addon1')
        .input-group
          span#basic-addon1.input-group-addon @
          input.form-control(type='textarea',name='roomDescription', placeholder='Mô tả', aria-describedby='basic-addon1')
        .input-group
          button.btn.btn-default(type='submit') Create
          button.btn.btn-default(type='reset') Cancel
