extends ../layout
block css
  link(rel='stylesheet', href='/css/livestream.css')
block content
  h1 Welcome to Live Chat
  p Hệ thống live chat and live chat.
  hr
  .row
    .col-lg-12
      p I'm other,email: #{user.email}
      p Current room: #{roomId}
      video#video.myvideo(autoplay='true',controls='')
block js
  script.
    window.DATA_RENDER = {};
    window.DATA_RENDER.roomId = '#{roomId}';

  script(src='/socket.io/socket.io.js')
  script(src='/js/lib/socket.io-stream.js')
  script(src='/js/livestream/other.js')
